@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header nav {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 140px;
  margin: 16px 0;
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
nav ul li a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
nav button {
  background-color: #469165;
  color: #fff;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  margin: 24px 0;
  cursor: pointer;
}

header #banner {
  background: url(../assets/hero-bg.png), #001931cc;
  height: 674px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner .banner-content {
  width: 1360px;
  padding: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.banner-content .early {
  display: flex;
  gap: 6px;
  width: 229px;
  background: #ffffff;
  color: #469165;
  border-radius: 100px;
  margin-bottom: 16px;
}

.banner-content .early img {
  width: 16px;
  height: 16px;
  margin: 9.5px 0 12px 12px;
}
.banner-content h4 {
  color: #469165;
  border-radius: 100px;
  padding: 8px 12px 8px 0;
  white-space: nowrap;
}
.banner-content h2 {
  font-size: 85px;
  margin-bottom: 16px;
  color: #fff;
  opacity: 0.9;
  text-align: center;
}
.banner-content h2 span {
  color: #30b868;
}
.banner-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
}
.banner-content .buttons {
  display: flex;
  gap: 16px;
}
.banner-content .buttons button {
  background-color: #469165;
  color: #fff;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  margin: 24px 0;
  cursor: pointer;
  display: flex;
  gap: 6px;
  white-space: nowrap;
}
.banner-content .buttons .t-button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
}

#notes {
  padding-top: 100px;
  background-color: #f5f5f5;
}
#notes .note-details {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}
.note-details h3 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
  text-align: center;
}
.note-details p {
  font-size: 16;
  font-weight: 400;
  color: #627382;
  text-align: center;
}

.note-details .cards {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-top: 44px;
}

.note-details .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.01);
}
.cards .card .card-img {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 16px auto;
}
.cards:last-child {
  margin: 55px auto 16px auto;
}
.cards .card h4 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
  text-align: center;
}
.cards .card p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin: 0 24px 0 24px;
}
