@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header nav{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 140px;
    margin: 16px 0;
    cursor: pointer;
}
nav ul{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
nav ul li a {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
nav button {
    background-color: #469165;
    color: #fff;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    margin: 24px 0;
    cursor: pointer;
}